Service References/wsSolcartera/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_ZCMLMF_WF_SOLCARTERA_V8">
    <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing" />
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
      <wsp:All>
        <sp:TransportBinding>
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDesRsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_ZCMLMF_WF_SOLCARTERA_V8">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>4FCCD86FD97E0072E10080000A010B42</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_ZCMLMF_SOLCARTERA">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric7">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="7" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZCML_DETSOLCART">
        <xsd:sequence>
          <xsd:element name="ZTIPO" type="tns:char1" />
          <xsd:element name="ZSOLICITUD" type="tns:numeric7" />
          <xsd:element name="RANL" type="tns:char13" />
          <xsd:element name="BELNR" type="tns:char10" />
          <xsd:element name="DMBTR" type="tns:curr13.2" />
          <xsd:element name="WRBTR" type="tns:curr13.2" />
          <xsd:element name="VBEWA" type="tns:char4" />
          <xsd:element name="REBZG" type="tns:char10" />
          <xsd:element name="ZEST_DETSOL" type="tns:numeric1" />
          <xsd:element name="ZIMP_PAR_MONCRED" type="tns:curr13.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZCML_SOLCARTERA">
        <xsd:sequence>
          <xsd:element name="ZTIPO" type="tns:char1" />
          <xsd:element name="ZSOLICITUD" type="tns:numeric7" />
          <xsd:element name="ZFEC_SOLIC" type="tns:date" />
          <xsd:element name="BUKRS" type="tns:char4" />
          <xsd:element name="RANL" type="tns:char13" />
          <xsd:element name="ZFEC_ULTEST" type="tns:date" />
          <xsd:element name="ZUSER" type="tns:char12" />
          <xsd:element name="ZEST_SOLCAR" type="tns:numeric1" />
          <xsd:element name="ZPROMESA_PAGO" type="tns:decimal13.2" />
          <xsd:element name="ZFEC_PROMESA" type="tns:date" />
          <xsd:element name="ZMTO_DESC_MAX" type="tns:decimal13.2" />
          <xsd:element name="ZMTO_DESC_CONV" type="tns:decimal13.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZCML_DETSOLCART">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZCML_DETSOLCART" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZCML_SOLCARTERA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZCML_SOLCARTERA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZCMLMF_SOLCARTERA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="T_DETSOLCART" type="tns:TABLE_OF_ZCML_DETSOLCART" />
            <xsd:element name="T_ENT_DETSOLCART" type="tns:TABLE_OF_ZCML_DETSOLCART" />
            <xsd:element name="T_ENT_SOLCARTERA" type="tns:TABLE_OF_ZCML_SOLCARTERA" />
            <xsd:element name="T_SOLCARTERA" type="tns:TABLE_OF_ZCML_SOLCARTERA" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZCMLMF_SOLCARTERAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ERROR" type="xsd:int" />
            <xsd:element name="T_DETSOLCART" type="tns:TABLE_OF_ZCML_DETSOLCART" />
            <xsd:element name="T_ENT_DETSOLCART" type="tns:TABLE_OF_ZCML_DETSOLCART" />
            <xsd:element name="T_ENT_SOLCARTERA" type="tns:TABLE_OF_ZCML_SOLCARTERA" />
            <xsd:element name="T_SOLCARTERA" type="tns:TABLE_OF_ZCML_SOLCARTERA" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZCMLMF_SOLCARTERA">
    <wsdl:part name="parameters" element="tns:ZCMLMF_SOLCARTERA" />
  </wsdl:message>
  <wsdl:message name="ZCMLMF_SOLCARTERAResponse">
    <wsdl:part name="parameter" element="tns:ZCMLMF_SOLCARTERAResponse" />
  </wsdl:message>
  <wsdl:portType name="ZCMLMF_WF_SOLCARTERA_V8">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_ZCMLMF_WF_SOLCARTERA_V8" />
    </wsp:Policy>
    <wsdl:operation name="ZCMLMF_SOLCARTERA">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_ZCMLMF_SOLCARTERA" />
      </wsp:Policy>
      <wsdl:input message="tns:ZCMLMF_SOLCARTERA" />
      <wsdl:output message="tns:ZCMLMF_SOLCARTERAResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZCMLMF_WF_SOLCARTERA_V8" type="tns:ZCMLMF_WF_SOLCARTERA_V8">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_ZCMLMF_WF_SOLCARTERA_V8" />
    </wsp:Policy>
    <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
      <wsa:ReferenceParameters />
    </wsa:EndpointReference>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZCMLMF_SOLCARTERA">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZCMLMF_WF_SOLCARTERA_V8">
    <wsdl:port name="ZCMLMF_WF_SOLCARTERA_V8" binding="tns:ZCMLMF_WF_SOLCARTERA_V8">
      <soap:address location="http://ddb2b01d:8000/sap/bc/srt/rfc/sap/zcmlmf_wf_solcartera_v8/100/zcmlmf_wf_solcartera_v8/zcmlmf_wf_solcartera_v8" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>